<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{name}}</title>
    <link rel="stylesheet" href="../workspace/{{name}}/app.css">
</head>
<body>
    {{html}}
    <script type="text/javascript" src="../workspace/{{name}}/app.js"></script>
</body>
</html>