<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{name}}</title>
    <style>{{css}}</style>
</head>
<body>
    {{html}}
    <script type="text/javascript">{{js}}</script>
</body>
</html>